.title {
    font-size: 24px;
    font-weight: 500;
    margin: 16px;
    color: #c5007a;
    
  }
  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px 8px 24px 8px;
    margin-bottom: 24px;;
    border-radius: 8px;
    background-color: rgba(42, 40, 51, 0.7);
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.6);
  }

  .lastBlock{
    border-radius: 8px 8px 16px 16px;
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.6);

}
  .blockText {
    padding: 0 16px;
  }

  .block p {
    text-indent: 24px;
    text-align: justify;
    color: whitesmoke;
  }

  .stack {
    text-indent: 24px;
    text-align: justify;
    font-size: 12px;
    color: whitesmoke;
    
    
  }

  .embla {
    overflow: hidden;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .emblaContainer {
    display: flex;
  }
  
  .emblaSlide {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .emblaSlide.is-selected {
    opacity: 1;
  }
  
  .emblaPrevButton,
  .emblaNextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 1;
  }
  
  .emblaPrevButton:hover,
  .emblaNextButton:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  
  .emblaPrevButton {
    left: 32px;
  }
  
  .emblaNextButton {
    right: 32px;
  }
  
  .emblaPrevButton svg,
  .emblaNextButton svg {
    width: 24px;
    height: 24px;
    fill: #333;
  }

  @media (max-width: 768px) {
   
    .emblaPrevButton {
      left: 16px;
    }
    
    .emblaNextButton {
      right: 16px;
    }
  }

  @media (max-width: 450px) {
   
    .emblaPrevButton {
      left: 8px;
    }
    
    .emblaNextButton {
      right: 8px;
    }
  }