.header {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 16px 0 16px;
    margin-bottom: 24px;
    border-radius: 16px 16px 2px 2px;
    background-color: rgba(42, 40, 51, 0.7);
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 100%;
  }
  
  .photo {
    border: none;
  }
  
  .titleContainer {
    text-align: center;
    flex-grow: 1;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #CBA153;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #CBA153;
    margin: 0;
  }


  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
   }

   .subtitle {
    font-size: 0.75rem;
   }
  }
