.container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }

  .spinnerContainer {
    position: fixed;
    top: 16px;
    right: 16px;
    -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  }

  .arobase {
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 50px;
  }

  .arobase:hover {
    cursor: pointer;
  }


    
  .a {
    color: #0038b1;
  }
  .returnToInitial {
    animation: return 15s ease-in-out;
  }
  .spin {
    animation: spin 20s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
  @media (max-width: 768px) {
    .spinnerContainer {
      height: auto;
      top: 10px;
      right: 10px;
    }
   
  }