.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    max-width: 1080px;
    height: 75vh;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .scrollableView {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;  /* Pour Firefox */
    -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
  }
  
  .scrollableView::-webkit-scrollbar {
    display: none;  /* Pour Chrome, Safari et Opera */
  }
  
  .closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 1;
  }
  
  .closeButton:hover {
    color: #000;
  }